<h2>{{title}}</h2>

<span class="operations">
	<button (click)="onNew()">New</button>
	<button [disabled]="!selectedMessages || selectedMessages.size !== 1" (click)="onEdit()">Edit</button>
	<button [disabled]="!selectedMessages || selectedMessages.size < 1">Delete</button>
</span>

<ul class="messages">
	<li *ngFor="let message of messages"
		[class.selected]="isSelected(message)"
		(click)="onSelect(message)">
		<span class="subject">{{message.subject}}</span>
		<span class="updated">{{message.updated | date: 'dd/MM/yyyy HH:mm'}}</span>
		<span>{{message.content}}</span>
	</li>
</ul>
<span class="caption" *ngIf="messages">{{messages.length}} messages found.</span>
<span class="caption" *ngIf="!messages">0 messages found.</span>

<span class="operations">
	<button (click)="onNew()">New</button>
	<button [disabled]="!selectedMessages || selectedMessages.size !== 1" (click)="onEdit()">Edit</button>
	<button [disabled]="!selectedMessages || selectedMessages.size < 1">Delete</button>
</span>

<div id="editDiv" class="edit" [hidden]="!showEditDiv">
	<span class="subject">
		<input [(ngModel)]="message2edit.subject" placeholder="subject" />
	</span>
	<span class="content">
		<textarea [(ngModel)]="message2edit.content" placeholder="content"></textarea>
	</span>

	<span class="operations" id="editOpBtn">
		<button (click)="save()">Save</button>
		<button (click)="cancelEdit()">Cancel</button>
	</span>
</div>